@charset "UTF-8";
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.btn-action {
  position: relative;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 1px;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 15px;
  line-height: 22px;
  cursor: pointer;
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.btn-action:hover {
  color: #252a2b;
}
.btn-action:hover::before {
  transform-origin: right center;
  transform: scale(0, 1);
}
.btn-action::before {
  position: absolute;
  content: "";
  display: block;
  left: -2px;
  top: 0;
  right: -2px;
  bottom: 0;
  transform: scale(1, 1);
  transform-origin: left center;
  z-index: -1;
  transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.dropdown {
  width: 188px;
  color: #272727;
  font-size: 16px;
  position: relative;
}
.dropdown-select {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #e5e5e5;
}
.dropdown-list {
  border: 1px solid #e5e5e5;
  margin-top: 5px;
  border-radius: 4px;
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 100%;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;
}
.dropdown-list::before {
  content: "";
  height: 6px;
  position: absolute;
  left: 0;
  right: 0;
  background: transparent;
  transform: translateY(-100%);
}
.dropdown-item {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.dropdown-item.active {
  font-weight: 700;
}
.dropdown-item:first-child {
  border-radius: 4px 4px 0 0;
}
.dropdown-item:last-child {
  border-bottom: none;
  border-radius: 0 0 4px 4px;
}
.dropdown-item:hover {
  background: #aaaaaa;
  color: #ffffff;
  font-weight: 500;
}
.dropdown:hover .dropdown-list {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #272727;
}

a {
  transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
}

.heading {
  font-size: 28px;
  font-weight: 500;
  color: #000000;
}
.heading-title {
  text-transform: capitalize;
  line-height: 1.6;
  padding-bottom: 10px;
  margin-bottom: 15px;
  position: relative;
}
.heading-title a {
  color: #272727;
  line-height: 1.1;
}
.heading-title::before {
  position: absolute;
  content: "";
  display: block;
  width: 55px;
  height: 1px;
  left: 0;
  right: 0;
  bottom: -1px;
  margin: 0 auto;
  background: #000000;
  z-index: 1;
}
.heading-view {
  font-size: 13px;
  color: #000000;
}

.header {
  background: #f1f0e4;
  width: 100%;
  text-align: center;
}
.header-link a {
  color: #d0021b;
  display: inline-block;
  padding: 10px 15px;
  font-size: 12px;
}

.nav.active {
  position: fixed;
  background: #ffffff;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation-name: inline-uzlbatv;
  animation-duration: 0.3s;
}
@keyframes inline-uzlbatv {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 66px;
}
.nav-logo .heading {
  text-transform: uppercase;
}
.nav-menu {
  position: relative;
}
.nav-list {
  display: flex;
}
.nav-item {
  margin-right: 10px;
  padding: 0;
  height: 100%;
  display: inline-block;
}
.nav-item.active .nav-link::before {
  opacity: 1;
  transform: scale(1, 1);
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  color: #272727;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 13px;
  line-height: 66px;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.nav-link::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: scale(0, 1);
  transform-origin: left center;
  border-bottom: 2px solid #000000;
  transition: all 0.3s;
}
.nav-link:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.nav-control {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav .form-control {
  display: flex;
  align-items: center;
}
.nav-search input {
  outline: none;
  font-size: 16px;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #e5e5e5;
  transition: all 150ms linear;
  width: 80%;
  padding: 12px 15px;
  color: #272727;
  border-radius: 4px 0 0 4px;
}
.nav-search input:focus {
  background: #f2f5fa;
}
.nav-search button {
  font-size: 18px;
  outline: none;
  border: 1px solid #e5e5e5;
  padding: 10px;
  background: #ffffff;
  border-left: none;
  color: #272727;
  border-radius: 0 4px 4px 0;
}
.nav-search button i {
  vertical-align: middle;
}
.nav-search button:hover i {
  transform: scale(1.2);
}
.nav-cart {
  position: relative;
}
.nav-cart__icon {
  font-size: 21px;
  color: #272727;
  padding: 9px 10px;
  border: 1px solid #e5e5e5;
  display: inline-block;
  border-radius: 4px;
}
.nav-cart__qty {
  position: absolute;
  right: calc(-10% - 5px);
  top: -10%;
  font-size: 12px;
  background: #f94c43;
  color: #ffffff;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  text-align: center;
  line-height: 19px;
}
.nav-cart:hover .nav-cart__icon i {
  transform: scale(1.2);
}

.main-path {
  background: #fafafa;
  margin-bottom: 20px;
  border-top: 1px solid #ededed;
}
.main-path__list {
  display: flex;
  padding: 15px 0;
  background: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-path__list li {
  font-size: 13px;
  padding-right: 3px;
}
.main-path__list li a {
  color: #000000;
}
.main-path__list li span {
  color: #777777;
  text-transform: uppercase;
}
.main-path__item::before {
  color: #cccccc;
  content: "/ ";
  padding: 0 3px;
}

.slider {
  width: 100%;
  position: relative;
}
.slider-prev, .slider-next {
  position: absolute;
  bottom: 0;
  outline: none;
  border: none;
  background-color: #f6f4f3;
  color: #000000;
  width: 80px;
  height: 80px;
  text-align: center;
  z-index: 99;
}
.slider-prev i, .slider-next i {
  font-size: 34px;
  line-height: 80px;
}
.slider-prev:hover, .slider-next:hover {
  background: rgba(255, 255, 255, 0.5);
}
.slider-prev {
  right: 80px;
}
.slider-next {
  right: 0;
}
.slider-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slider-main {
  display: flex;
  position: relative;
  transition: transform 0.25s linear;
  height: 100%;
}
.slider-item {
  height: 100%;
  width: 100%;
  user-select: none;
  flex: 1 0 100%;
  position: relative;
}
.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 595px;
}
.slider-item span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: 500;
  color: red;
}

.product {
  margin-bottom: 40px;
}
.product-heading {
  padding: 40px 0;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}
.product .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.product-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 378px;
}
.product-item:hover .product-control {
  opacity: 1;
  visibility: visible;
  bottom: 0;
}
.product-image {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  overflow: hidden;
  position: relative;
}
.product-image__link {
  display: flex;
  height: 100%;
  width: 100%;
}
.product-image__link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease 0s;
}
.product-image__link img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}
.product-image__link:hover img:first-child {
  opacity: 0;
  visibility: hidden;
}
.product-image__link:hover img:last-child {
  opacity: 1;
  visibility: visible;
}
.product-noti__show {
  position: absolute;
  top: 10px;
  width: 100%;
  color: #ffffff;
  background: #000000;
  border-radius: 50%;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  font-size: 12px;
  z-index: 1;
  font-weight: 500;
}
.product-noti__sale {
  left: 10px;
}
.product-noti__sold-out {
  right: 10px;
}
.product-control {
  position: absolute;
  bottom: -10%;
  display: flex;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.5s;
}
.product-btn {
  color: #ffffff;
  font-weight: 500;
  font-size: 11px;
  border: 0;
  background: #191919;
  width: 100%;
  padding: 8px 5px;
  margin-right: 5px;
  outline: none;
  display: block;
  text-align: center;
}
.product-btn:last-child {
  margin-right: 0;
}
.product-infor {
  padding: 20px 0;
  width: 100%;
  text-align: center;
}
.product-name h3 {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
}
.product-name h3 a {
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  color: #272727;
  width: 100%;
  display: block;
}
.product-name h3 a:hover {
  color: #000000;
}
.product-price .discount {
  color: #f94c43;
}
.product-price__new {
  font-size: 14px;
  font-weight: 700;
  color: #272727;
}
.product-price__old {
  color: #939393;
  font-size: 13px;
  margin-left: 5px;
  font-weight: 400;
  text-decoration: line-through;
}

.gallery .product-heading {
  padding-top: 80px;
}
.gallery-list {
  width: 100%;
}
.gallery-list ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.gallery-list ul li:not(:last-child) {
  padding-right: 4px;
}
.gallery-list ul li:hover .gallery-item::before {
  animation-name: inline-uzlbau4;
  animation-duration: 1.1s;
}
@keyframes inline-uzlbau4 {
  100% {
    left: 125%;
  }
}
.gallery-item {
  position: relative;
  overflow: hidden;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-item::before {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 1;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skew(-25deg);
}

.footer {
  margin-top: 24px;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer-title {
  font-size: 15px;
  letter-spacing: 0.02em;
  margin: 15px 0 20px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 500;
}
.footer-content p {
  margin-bottom: 10px;
  line-height: 21px;
}
.footer-list {
  margin-bottom: 15px;
}
.footer-item {
  line-height: 28px;
  padding-left: 20px;
  display: block;
}
.footer-link {
  color: #000000;
  position: relative;
  overflow: hidden;
}
.footer-link::before {
  content: "";
  width: 7px;
  height: 1px;
  background: #000000;
  left: -18px;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.footer-bottom {
  padding: 24px 0;
  border-top: 1px dashed #e0d9d6;
}
.footer-bottom p {
  text-align: center;
  line-height: 21px;
}
.footer-bottom p a {
  color: #000000;
  font-weight: 700;
}

.introduce {
  max-width: 1300px;
  max-height: 452px;
  font-size: 14px;
  gap: normal normal;
  line-height: 19.6px;
  margin: auto;
}
.introduce__container {
  display: flex;
}
.introduce__banner {
  padding: 0px 15px;
}
.introduce__banner a {
  display: block;
  overflow: hidden;
}
.introduce__banner img {
  max-width: 295px;
  max-height: 422px;
  display: block;
  transition: all 0.5s ease;
}
.introduce__banner img:hover {
  transform: scale(1.2);
}
.introduce__content {
  display: flex;
  flex-direction: column;
  gap: normal normal;
  padding: 0px 15px;
}
.introduce__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0px 0px 30px;
}
.introduce__brand {
  text-align: center;
  line-height: 21px;
  margin: 0px 0px 10px;
}
.introduce__description {
  font-size: 20px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
}

.product-details {
  max-width: 1300px;
  font-size: 14px;
  font-weight: 700;
  gap: normal normal;
  line-height: 19.6px;
  margin: auto;
}
.product-details__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-details__container .slider-main {
  width: 644px;
  height: 644px;
}
.product-details-content {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  max-width: 775px;
}
.product-details-image {
  display: flex;
  margin-bottom: 10px;
}
.product-details-gallery {
  font-size: 14px;
  margin-right: 20px;
}
.product-details-gallery__thumbs {
  margin-bottom: 10px;
}
.product-details-gallery__thumbs img {
  width: 63px;
  height: 63px;
  cursor: pointer;
}
.product-details-gallery__thumbs img.active {
  border: 1px solid #000000;
}
.product-details-slider {
  width: 644px;
  overflow: hidden;
}
.product-details-description__title {
  margin: 0 0 13px;
  text-decoration: underline;
}
.product-details-description__details div {
  margin: 10px 0;
}
.product-details-infomation {
  padding-left: 15px;
  position: sticky;
  height: fit-content;
  top: 0;
  flex: 1;
}
.product-details-infomation__title {
  border-bottom: 1px dotted #dfe0e1;
}
.product-details-infomation__name {
  font-size: 20px;
}
.product-details-infomation__sku {
  font-size: 12px;
  font-weight: 500;
  color: #a3a5a7;
  margin: 10px 0;
}
.product-details-infomation__price {
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px dotted #dfe0e1;
}
.product-details-infomation__size {
  border-bottom: 1px dotted #dfe0e1;
  padding: 15px 0;
}
.product-details-infomation__size .select-size {
  display: flex;
}
.product-details-infomation__size .select-size__list {
  margin-right: 15px;
}
.product-details-infomation__size .select-size__list input {
  display: none;
}
.product-details-infomation__size .select-size__list label {
  display: block;
  background: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: relative;
  border: 1px solid #e5e5e5;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
.product-details-infomation__size .select-size__list label.active {
  background-color: #000000;
  color: #ffffff;
}
.product-details-infomation__size .select-size .soldout label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  background: url(/assets/image/others/sold_out.jpg) no-repeat;
  background-size: contain;
}
.product-details-infomation__quantity {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.product-details-infomation__quantity .btn-quantity {
  background-color: #f3f4f4;
  padding: 6.5px 13.235px;
}
.product-details-infomation__quantity .quantity-box {
  border-top: 1px solid #f3f4f4;
  border-bottom: 1px solid #f3f4f4;
  padding: 5.5px 30px;
}
.product-details-infomation__action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.product-details-infomation__action .add-to-cart {
  width: 50%;
}
.add-to-cart {
  border: 1px solid #000000;
}
.add-to-cart::before {
  background-color: #000000;
}
.product-details-infomation__action .buy-now {
  width: 50%;
  border: 1px solid #ff0000;
  margin-left: 15px;
}
.product-details-infomation__action .buy-now::before {
  background-color: #ff0000;
}
.product-details-infomation .support {
  width: 100%;
  border: 1px solid #29dbd2;
}
.product-details-infomation .support::before {
  background-color: #29dbd2;
}
.product-details-review {
  width: 100%;
  margin-top: 25px;
  text-align: center;
}
.product-details-review__title {
  text-transform: uppercase;
  width: fit-content;
  background-color: #000000;
  color: #ffffff;
  margin: auto;
  padding: 15px 25px;
  border-radius: 5px;
}
.product-details-review__comment {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 25px 0;
}
.product-details-review__comment .fa-star {
  color: #ffbe00;
}
.product-details-review__comment__description {
  width: 1000px;
  margin: auto;
}
.product-details-review__comment__sender {
  border: 1px solid #c4cdd5;
  padding-bottom: 15px;
  border-radius: 4px;
}
.product-details-review__comment__sender .review-form-rating {
  position: relative;
}
.product-details-review__comment__sender .review-form-rating-title {
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 0;
}
.product-details-review__comment__sender .review-form-rating-product {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 20px 0;
}
.product-details-review__comment__sender .review-form-rating-stars {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-flow: row-reverse wrap;
  width: 280px;
}
.product-details-review__comment__sender .review-form-rating-stars input.star {
  display: none;
}
.product-details-review__comment__sender .review-form-rating-stars label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all 0.2s;
  margin-bottom: 20px;
}
.product-details-review__comment__sender .review-form-rating-stars input.star:checked ~ label.star:before {
  content: "\f005";
  color: #fd4;
  transition: all 0.25s;
}
.product-details-review__comment__sender .review-form-rating-stars label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}
.product-details-review__comment__sender .review-form-rating-stars label.star:before {
  content: "\f006";
  font-family: FontAwesome;
}
.product-details-review__comment .have-comment .product-details-review__comment__action {
  display: flex;
}
.product-details-review__comment .btn-new-review {
  background-color: #0088ff;
  border: 1px solid #0088ff;
  border-radius: 5px;
  color: #fff;
  height: 36px;
  line-height: 36px;
  padding: 0 18px;
  min-width: 180px;
}
.product-details-review__comment__action {
  padding: 0 10px 0 0;
  background-color: rgba(0, 136, 255, 0.1);
  border: 1px solid #c4cdd5;
  border-top: none;
  min-height: 130px;
  padding: 25px;
}
.product-details-review__comment__action .rating-summary {
  margin-bottom: 25px;
}
.product-details-review__comment__action .rating-summary-star {
  display: flex;
  line-height: 1;
  justify-content: center;
  margin: 0 0 10px;
}
.product-details-review__comment__action .rating-summary-score {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  color: #0088ff;
  margin: 0 0 3px;
}
.product-details-review__comment__action .rating-filter {
  display: flex;
  justify-content: center;
}
.product-details-review__comment__action .rating-filter label {
  margin: 0 10px 13px 0;
  font-weight: 400;
  cursor: pointer;
}
.product-details-review__comment__action .rating-filter-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.product-details-review__comment__action .rating-filter-list .select-rating {
  margin: 0 15px 0 15px;
}
.product-details-review__comment__action .rating-filter-list label {
  display: block;
  min-width: 90px;
  font-size: 14px;
  padding: 0 9px;
  text-align: center;
  background: #fff;
  border: 1px solid #c4cdd5;
  border-radius: 3px;
  line-height: 36px;
  cursor: auto;
}
.product-details-review__comment__list {
  text-align: left;
  padding: 0 10px 0 0;
  border: 1px solid #c4cdd5;
  border-top: none;
  min-height: 100px;
  padding: 25px;
  font-weight: normal;
}
.product-details-review__comment__list .fa-star {
  font-size: 10px;
}
.product-details-review__comment__list-header {
  display: flex;
  font-weight: bold;
  align-items: center;
}
.product-details-review__comment__list-body {
  margin: 10px 0;
}
.product-details-review__comment__list-action ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.product-details-review__comment__list-action ul li {
  margin-right: 22px;
  margin-bottom: 0;
  position: relative;
}
.product-details-review__comment__list-action ul li:after {
  content: "";
  height: 5px;
  width: 5px;
  background: #969b9f;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  right: -12px;
  transform: translateY(-50%);
}

.contact {
  max-width: 1300px;
  max-height: 452px;
  font-size: 14px;
  gap: normal normal;
  line-height: 19.6px;
  margin: auto;
}
.contact__container {
  display: flex;
}
.contact__banner {
  padding: 0px 15px;
}
.contact__banner a {
  display: block;
  overflow: hidden;
}
.contact__banner img {
  max-width: 295px;
  max-height: 422px;
  display: block;
  transition: all 0.5s ease;
}
.contact__banner img:hover {
  transform: scale(1.2);
}
.contact__content {
  display: flex;
  flex-direction: column;
  gap: normal normal;
  padding: 0px 15px;
}
.contact__info h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin: 0px 0px 13px;
}
.contact__info ul {
  font-size: 14px;
  margin-bottom: 15px;
  padding-left: 40px;
}
.contact__info a {
  color: #272727;
}
.contact__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 0 60px;
}

.brand > .container {
  display: flex;
  justify-content: space-between;
}
.brand-control {
  position: sticky;
  top: 70px;
  margin-top: 30px;
  width: 25%;
  height: fit-content;
}
.brand-control__item {
  display: flex;
  flex-direction: column;
}
.brand-control__title {
  text-transform: uppercase;
  line-height: 22px;
  padding: 10px 0;
  cursor: pointer;
}
.brand-control__title span {
  font-weight: 600;
  font-size: 13px;
}
.brand-control__icon {
  position: relative;
  top: 0;
  left: 5px;
}
.brand-control__filter--size li input[type=checkbox]:checked + label {
  background-color: #111111;
  color: #ffffff;
  border: 1px solid #111111;
}
.brand-control__filter [type=checkbox]:not(:checked),
.brand-control__filter [type=checkbox]:checked {
  position: absolute;
  left: -9999px;
}
.brand-control__filter [type=checkbox]:not(:checked) + label,
.brand-control__filter [type=checkbox]:checked + label {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
}
.brand-control__filter [type=checkbox]:not(:checked) + label::before,
.brand-control__filter [type=checkbox]:checked + label::before {
  border: 1px solid #e5e5e5;
  content: "";
  position: absolute;
  left: 0;
  width: 14px;
  height: 14px;
  top: 1px;
  background: #ffffff;
  border-radius: 2px;
}
.brand-control__filter [type=checkbox]:checked + label:before {
  border: 1px solid #000;
}
.brand-control__filter [type=checkbox]:not(:checked) + label:after,
.brand-control__filter [type=checkbox]:checked + label:after {
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
  border-width: 0 0 2px 2px !important;
  height: 4px;
  width: 7px;
  border: solid #111;
  margin: 9px 0 0 4px;
  left: 0;
  top: -3px;
  transition: all 0.2s;
}
.brand-control__filter [type=checkbox]:not(:checked) + label:after {
  opacity: 0;
}
.brand-control__filter [type=checkbox]:checked + label:after {
  opacity: 1;
}
.brand-control__list {
  margin-bottom: 10px;
}
.brand-control__list li {
  line-height: 20px;
  font-size: 12px;
}
.brand-control__list li:hover label {
  color: #000000;
}
.brand-control__list li input[type=checkbox] {
  display: none;
}
.brand-control__list li label {
  color: #272727;
  line-height: 18px;
  display: inline-block;
}
.brand-control__list li label:hover::before {
  border: 1px solid #000000 !important;
}
.brand-control__price li {
  font-size: 14px;
  margin-bottom: 5px;
}
.brand-control__size {
  display: flex;
  flex-flow: row wrap;
}
.brand-control__size li {
  text-align: center;
  margin-right: -1px;
  margin-bottom: -1px;
}
.brand-control__size li label {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border: 1px solid #e5e5e5;
}
.brand-products {
  width: 75%;
}
.brand-products__heading {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}
.brand-products__title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.brand-products .product-item {
  max-width: 220px;
}
.brand-products .product-item .product-image {
  flex: 0 1 auto;
}
.brand-products .product-item .product-image__link {
  height: 214px;
}

.zoomIn {
  animation-name: zoomIn;
}

.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(.3,.3,.3);
  }

  50% {
    opacity: 1;
  }
}

.review-form-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-form-information .form-group {
  position: relative;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.review-form-information .form-control {
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  padding: 0 45px 0 20px;
  font-size: 18px;
  transition: all 0.25s ease;
  outline: none;
  background: #ffffff;
  font-family: "Quicksand", sans-serif;
}

.review-form-information textarea.form-control {
  height: 178px;
  resize: none;
  padding-top: 18px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000000000s 0s, color 600000000000s 0s;
}

.review-form-information .form-control:focus {
  border-color: #000000;
}

.review-form-information .form-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 21px;
  user-select: none;
  color: #999999;
  pointer-events: none;
  transition: all 0.25s ease;
}

.review-form-information .form-control:not(:placeholder-shown) + .form-label,
.review-form-information .form-control:focus + .form-label {
  top: 0;
  left: 11px;
  padding: 0 10px;
  display: inline-block;
  background: #ffffff;
  color: #000000;
}

.review-form-information .form-group.invalid .form-control {
  border-color: #f33a58;
}

.review-form-information .form-group.invalid .form-icon--warn {
  opacity: 1;
  visibility: visible;
}

.review-form-information .form-group.invalid .form-message,
.review-form-information .form-group.invalid .form-label,
.review-form-information .form-group.invalid .form-icon--show {
  color: #f33a58;
}

.review-form-information .form-message {
  position: absolute;
  bottom: -25px;
  left: 0;
  font-size: 14px;
  text-align: left;
}

.review-form-information .form-icon {
  position: absolute;
  right: 21px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  transition: all 0.25s linear;
}

.review-form-information .form-icon--warn {
  color: #f33a58;
  opacity: 0;
  visibility: hidden;
}
.error-fields {
  color: #f33a58;
}
.paginationjs {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}
.paginationjs .paginationjs-pages li {
  border: none;
  margin-right: 25px;
}
.paginationjs .paginationjs-pages li>a {
  font-size: 16px;
  color: #272727;
  min-width: 35px;
  height: 35px;
  line-height: 35px;
  opacity: 0.4;
}
.paginationjs .paginationjs-pages li.active>a {
  height: 35px;
  line-height: 35px;
  background-color: transparent;
  color: #272727;
  opacity: 1;
}
.paginationjs .paginationjs-pages li>a:hover {
  background-color: transparent;
  opacity: 1;
}
.paginationjs .paginationjs-pages li:last-child {
  border-right: none;
}
.paginationjs .paginationjs-pages li:last-child>a, 
.paginationjs .paginationjs-pages li:first-child>a {
  font-size: 25px;
  opacity: 1;
}
.paginationjs .paginationjs-pages li.disabled>a {
  opacity: 0.4;
}
/*# sourceMappingURL=app.css.map */
